.App {
    text-align: center;
    height: 66px;
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 55px;
    height: 55px;
    position: absolute;


}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.Album-cover {
    width: 45px;
    height: 45px;
    position: absolute;

}


.App-title {
    font-size: 4em;
    padding: 20px;

}

.App-login {
    position: absolute;
    right: 0px;
    font-size: 2em;
    padding-right: 25px;

    color: #000088;
}

.App-albums {
    font-size: 2em;
    color: #000088;
}

.App-get-albums {
    padding-top: 20px;
    font-size: 1.5em;
    position: absolute;
    left: 10px;
}

.App-singer-name {
    padding-left: 10px;
    font-size: 0.65em;
    color: #000088;

}

.App-album-name {
    padding-left: 60px;
    font-family: "Al Tarikh";
}

.App-track-name{
    margin-bottom: 10px;
    color: #c6e746;
    font-size: 20px;

}

.App-track-like {
    margin-left: 10px;
    position: absolute;
    max-width: 30px;
    max-height: 30px;
}

.App-get-tracks {
    margin-top: 20px;
}

.App-play-track {
    margin-left: 10px;

}

.heart-light, .heart-black {
    display: inline-block;
    width: 25px;
    height: 25px;
    /*border: 1px solid red;*/
    background: url("./like.png") no-repeat -494px -478px ;
    position: relative;
    top: 6px;
    margin-left: 5px;
}

.heart-black{
    background-position: -103px -512px;
}


{
    margin:0;
    padding:0;
}

*{
    margin:0;
    padding:0;
}

html{
    background:url('bg_tile.jpg') #333d43;

}

body{
    background:url('bg_head.jpg') repeat-x top center, url('bg_vert.jpg') repeat-x;
    min-height:500px;
    font:14px/1.3 'Segoe UI',Arial, sans-serif;
    color:#888;
    padding:10px;
}


/*----------------------------
	CSS3 Animated Navigation
-----------------------------*/


.fancyNav{
    /* Affects the UL element */
    overflow: hidden;
    display: inline-block;
    margin-left: 64px;
    margin-top: -15px;

}

.fancyNav li{
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */

    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    /* Adding a 1px inset highlight for a more polished efect: */

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position:relative;

    float: left;
    list-style: none;
    height: 55px;
}

.fancyNav li:after{

    /* This creates a pseudo element inslide each LI */

    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;

    /* Gradients! */

    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(to left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;

    /* This will create a smooth transition for the opacity property */

    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
    opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a{
    color: #5d5d5d;
    display: inline-block;
    font: 20px/1 Lobster,Arial,sans-serif;
    padding: 18px 35px 14px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;

}

.fancyNav a.homeIcon{
    background:url('home.png') no-repeat center center;
    display: block;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 35px;
    text-indent: -9999px;
    width: 16px;
    height: 16px;

}


/*-------------------------
	Demo Page Styles
--------------------------*/


h1,h2{
    color: #fff;
    line-height: 1;
    background-color: #222;
    font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
    font-weight: normal;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -446px;
}

h1{
    font-size: 36px;
    padding: 5px 15px 10px;
    top: 0;
}

h2{
    font-size: 14px;
    padding: 4px 13px 9px 11px;
    top: 51px;
}

header {
    display:inline-block;
    position:relative;

}

nav{
    display: block;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;

}

footer{
    color: #BBBBBB;
    font-size: 15px;
    line-height: 1.6;
    padding: 60px 20px 0;
    text-align: center;
    display:block;
}

footer b{
    color: #888888;
    display: block;
    font-size: 10px;
    font-weight: normal;
}

Link, Link:visited {
    text-decoration:none;
    outline:none;
    color:#54a6de;
}

Link:hover{
    text-decoration:underline;
}

.error {
    color: crimson;
}

form > div > div {
  max-width: 200px;
}

.error-auth{
    position: absolute; left: 40%;
    color: red;
}